<div class="default">
	<% if current_user && admin_user? %>
		<div class="">
			<%= link_to "New", new_party_path, class: "btn btn-mini" %>
									
			<%= link_to "Edit", edit_party_path(object), class: "btn btn-mini" %>
							
			<%= link_to "Delete", party_path(object), class: "btn btn-danger btn-mini", :method => 'delete',
										              :data => { :confirm => 'Are you sure?' } %>
		</div>
	<% end -%>
	
	<div class="pull-right facebook" style="width: 90px; height: 30px; margin-top: 5px">
		<div class="pull-right fb-like visible-desktop" 
				data-send="false" data-layout="button_count" 
				data-width="450" data-show-faces="true"></div>
	</div>
	
 	<h2><%= object.title %> <small><%= time_tag object.when, format: "%B %e, %l:%M %P" %></small></h2>
	<%= image_tag object.flyer, class: "pull-left flyer span3" %>

	<% if current_user %>				
		<div id="rate" val="<%= @party.get_rating %>">
			<% for i in 1..@party.get_rating %>
				<%= link_to image_tag("star.png", size: "35x0"),
					"/parties/rate?party=#{@party.id}&user=#{current_user.id}&rating=#{i}", 
					remote: true %>
			<% end -%>
			

			<% for i in 1 + @party.get_rating..5 %>
				<%= link_to image_tag("star_empty.png", size: "35x0"), 
					"/parties/rate?party=#{@party.id}&user=#{current_user.id}&rating=#{i}",
					remote: true %>
			<% end -%>
		</div> 
		<p>
			<span id="rating-count" class="muted"><%= pluralize @party.ratings.count, "rating" %></span>		

			<% if current_user && @party.ratings.include?("#{current_user.id}") %>
				<span id="voted" class="muted">
					 | Your rating: <span id="user_rating">
					<%= pluralize(@party.ratings["#{current_user.id}"].to_i, "star") %></span>.
				</span>
			<% else %>
				<span id="voted" class="muted hide">
					 | Your rating: <span id="user_rating"></span>
				</span>
			<% end -%>
		</p>

	<% else %>
		<a href="#" id="rate" rel="tooltip" title="Sign in to rate">
			<% for i in 1..@party.get_rating %>
				<%= image_tag("star.png", size: "35x0") %>
			<% end -%>

			<% for i in 1 + @party.get_rating..5 %>
				<%= image_tag("star_empty.png", size: "35x0") %>
			<% end -%> 
		</a>
		<p class="muted">
			<span id="rating-count"><%= pluralize @party.ratings.count, "rating" %>
		</p>
	<% end -%>

	<hr>
	
	<p class="muted">
		<% if @party.when >= Time.now %>

		<% end %>
		<%= link_to "Buy ticket", "#", 
			class: "btn btn-primary disabled", 
			rel: "tooltip", 
			"title" => "Work in progress..." %>	
		<% if current_user %>
			<% if object.going.include?(current_user.id) %>
				<button id="join_button_<%= @party.id %>" class="btn btn-success disabled join-button">Going</button>
			<% elsif Time.now < object.when %>
				<%= link_to "Join", 
					"#{parties_join_path}?party=#{object.id}", 
					class: "btn btn-success join-button", id: "join_button_#{@party.id}", remote: true %>
			<% else %>
				<button id="join_button_<%= @party.id %>" class="btn btn-success disabled join-button">Join</button>
			<% end -%>
		<% else %>
			<a id="join_button_<%= @party.id %>" class="btn btn-success join-button disabled"
				rel="tooltip" title="Sign in to join">Join</a>
		<% end -%>
		<span id="going_counter_<%= @party.id %>"><%= pluralize object.going.count, "person" %></span> going
	</p>

	<hr class="bs-dosc-separator">
	
	<% unless object.address.blank? %>
		<p>
			<i class="icon-map-marker"></i> 
				<% if object.map.blank? %>
					<%= object.address %>
				<% else %>
					<%= link_to object.address, object.map, "target"=>"_blank" %>
				<% end %>
		</p>
	<% end %>

	<%= raw @party.description %>
	<span class="label">Price: $<%= object.price %></span>
	<span class="label label-important">Age: 21+</span>

	<!-- pictures -->
	<div class="visible-desktop">
		<% if object.pics.count > 0 %>
			<div class="separator">
				<strong> Picutres (<%= object.pics.count %>)</strong>

				<% if object.pics.count > 9 %>
					<span class="pull-right">
						<span class="muted" id="pics_loading_msg" "data-loading-text"="loading..." %>showing </span>
						<a href="#" id="show_pictures">9/<%= object.pics.count %></a>
					</span>
				<% end -%>
			</div>

			<ul class="thumbnails" id="pictures">
				<% if object.pics.count > 9 %>
					<% for i in 0..8 %>
						<li class="img-container">
							<%= link_to image_tag(object.pics[i]), "#" %>
						</li>
					<% end -%>
					
					<% for i in 9..object.pics.count - 1 %>
						<li class="hide img-container">
							<%= link_to image_tag(object.pics[i]), "#" %>
						</li>
					<% end -%>
				<% else %>
					<% for i in 0..object.pics.count - 1 %>
						<li class="img-container">
							<%= link_to image_tag(object.pics[i]), "#"%>
						</li>
					<% end -%>
				<% end -%>
			</ul>
		<% end -%>
	</div>

	<div class="separator">
		<strong>Comments (<span id="comment_count"><%= object.comments.count %></span>)</strong>
		
		<span id="more_comments" class="pull-right">
			<% if object.comments.count > 3 %>
				<span id="loading-msg" class="muted" "data-loading-text"="loading...">showing</span>
				<% if object.comments.count <= 50 %>
					<%= link_to("/comments?party_id=#{object.id}",
						id: "more_comments_link",
						remote: true) do %>
						<span id="comments_loaded">3</span>/<span id="total_comments"><%= object.comments.count %></span>
					<% end -%>
				<% else %>
					<%= link_to("/comments?party_id=#{object.id}&skip=#{object.comments.count - 50 - 3}",
						id: "more_comments_link",
						remote: true) do %>
						<span id="comments_loaded">3</span>/<span id="total_comments"><%= object.comments.count %></span>
					<% end -%>
				<% end -%>
			<% end -%>
		</span>
	</div>
	
	<div id="comments">	
		<% if object.comments.count > 0 %>
			<% get_party_comments(object).each do |comment| %>
				<%= render 'comments/comment', object: [object, comment] %>
			<% end %>
		<% end %>	
	</div>

	<div class="form">
		<% if current_user %>
			<%= render 'comments/form', object: object %>
		<% else %>
			<div class="text-center signin">Sign in with <%= render 'shared/signin' %> to leave a comment.</div>
		<% end %>
	</div>
</div>

<div id="picture-modal" style="display:none">
	<div style="
		min-width: 440px;
		height: auto;
		left: 0;
		min-height: 100%;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 400;
		display: table;
		height: 100% !important;
		table-layout: fixed;
		width: 100%;
		background-color: rgba(0, 0, 0, .9);">
		<a href="#" id="close-picture-modal">×</a>
		<p>Image 
			<span id="picture_index">1</span>/<span id="total"><%= object.pics.count %></span>
		</p>
		<a id="prev-button" class="carousel-control left" href="" data-slide="prev">&lsaquo;</a>
 		<a id="next-button" class="carousel-control right" href="" data-slide="next">&rsaquo;</a>
		<div style="
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			width: 100%;">

			<div style="
				display: inline-block;
				margin: 10px 0;
				text-align: left;">
				<div style="
					min-height: 400px;
					min-width: 400px;
					position: relative;
					text-align: center;">
					<img style="
						
						display: inline-block;
						vertical-align: middle;
						max-width: 100%;
						max-height: 100%;"
						src="" class="img-rounded">
				</div>				
			</div>			
		</div>
	</div>
</div>

