<li class="party span2">

	<article class="thumbnail">
		<div class="flyer">
			<%= link_to image_tag(party.flyer), party_path(party), class: "visible-desktop", remote: true %>
			<%= link_to image_tag(party.flyer), party_path(party), class: "visible-phone" %>
		</div>

		<h4><%= link_to party.title, party %></h4>

		<footer class="muted">
			<%= link_to("#{party_path(party)}#pictures") do %>
				<strong><small><%= pluralize(party.pics.count, "pic") %>
			<% end %>
			<span> | </span>
			<%= link_to("#{party_path(party)}#comments") do %>
				<%= pluralize(party.comments.count, "comment") %></small></strong>
			<% end %>
		</footer>

	</article>

</li>