<li class="party hidden-phone span3">
	<article class="party-inner">
		<div class="flyer">
			<%= image_tag party.flyer %>
		</div>
		<%= link_to party do %>
			<div class="info">
				<h4><%= party.title %> 
					<small><%= time_tag party.when, format: "%B %e, %l:%M %P" %></small></h4>
				<p><small><%= raw truncate(party.description, length: 180) %></small></p>
			</div>
		<% end %>

		<footer class="text-right">
			<small><strong>
				<%= link_to "#{party_path(party)}#pictures" do %>
					<i class="icon-picture"></i> <%= party.pics.count %>
				<% end -%>
			
				<%= link_to "#{party_path(party)}#comments" do %>
					<i class="icon-comment"></i> <%= party.comments.count %>
				<% end -%>
			</strong></small>
		</footer>
	</article>
</li>

<li class="visible-phone">
	<article class="phone">
		<div class="flyer">
			<%= link_to (image_tag party.flyer), party %>	
		</div>
		<p class="muted"><%= pluralize(party.going.count, "person") %> went</p>
		<p>
			<%= link_to party, class: "btn btn-mini" do %>
				<i class="icon-star"></i> Rate
			<% end -%>
			
			<%= link_to "#{party_path(party)}#new_comment", class: "btn btn-mini" do %>
				<i class="icon-comment"></i> Comment
			<% end -%>
		</p>
		<hr>
	</article>
</li>