<article class="row">
	<article id="content" class="span7">
		<%= render "parties/party_full", object: @party %>
	</article>

	<!--
	<aside id="index" class="span4 visible-desktop sidebar aside">-->
	<aside id="index" class="span3 visible-desktop">
		<p class="alert alert-info">
			Have a suggestion? <%= link_to "Let us know!", suggestions_path %> 
			Or <%= link_to "share", shares_path %> an event you are going to.
		</p>
		
		<% if @upcoming.count > 0 %>
			<p class="lead muted">Upcoming events</p>
			
			<ul class="nav nav-pills nav-stacked">
				<% @upcoming.each do |party| %>
					<li id="<%= party.id %>" class="<%= 'active' unless party.id != @party.id %> scroll">
						<%= link_to party.title, "#{party_path(party)}?prev=#{@party.id}", remote: true %>
					</li>
				<% end %>
			</ul>	
		<% end %>
		
		<% if @previous.count > 0 %>
			<p class="lead muted">Past events</p>
			<ul class="nav nav-pills nav-stacked">
				<% @previous.each do |party| %>
					<li id="<%= party.id %>" class="<%= 'active' unless party.id != @party.id %> scroll">
						<%= link_to party.title, "#{party_path(party)}?prev=#{@party.id}", remote: true %>
					</li>
				<% end %>
			</ul>	
		<% end %>
	</aside>
	
	<aside class="visible-phone">
		<p class="alert alert-info">
			Have a suggestion? <%= link_to "Let us know!", suggestions_path %> 
			Or <%= link_to "share", shares_path %> an event you are going to.
		</p>
		
		<% if @upcoming.count > 0 %>
			<p class="lead muted">Upcoming events</p>
			
			<ul class="nav nav-pills nav-stacked">
				<% @upcoming.each do |party| %>
					<li class="<%= 'active' unless party.id != @party.id %>">
						<%= link_to party.title, party %>
					</li>
				<% end %>
			</ul>	
		<% end %>
		
		<% if @previous.count > 0 %>
			<p class="lead muted">Past events</p>
			<ul class="nav nav-pills nav-stacked">
				<% @previous.each do |party| %>
					<li class="<%= 'active' unless party.id != @party.id %>">
						<%= link_to party.title, party %>
					</li>
				<% end %>
			</ul>	
		<% end %>
	</aside>
</article>

