<h1>Sessions#create</h1>

<% if current_user %>
	<div class="user", id="<%= current_user.provider %>_<%= current_user.uid %>">
		<% if current_user.provider == "google" %>
			<%= current_user.name %>
		<% else %>
			<%= image_tag current_user.img_url %>
			<%= link_to current_user.name, current_user.profile_url %>
		<% end %>
	</div>
	
	<p>
		<%= link_to "Sign out", signout_path %>
	</p>
<% end %>