<div class="default">
	<div id="errors">
		<% if @share.errors.any? %>
			<% @share.errors.full_messages.each do |error| %>
				<p class="text-error"><%= error %></p>
			<% end -%>
		<% end %>
	</div>

	
	<%= form_for @share do |f| %>
		
		<div class="control-group">
			<%= f.label "Date/time", class: "control-label" %>
			<div class = "controls">
				<%= f.text_field :date, class: "date-picker" %> 
				<%#= f.time_select :time, ampm: true, minute_step: 15 %>
			</div>
		</div>

		<div class="control-group">
			<%= f.label "URL", class: "control-label" %>
			<div class = "controls">
				<%= f.text_field :url, class: "span6" %>
			</div>
		</div>

		<div class="control-group">
			<%= f.label "Description", class: "control-label" %>
			<div class = "controls">
				<%= f.text_area :content, rows: 2, class: "span6" %>
			</div>
		</div>

		<%= f.submit "Share", :class => 'btn btn-primary' %>
		<%= link_to "Cancel", shares_path, class: "btn" %>
	<% end %>	
</div>