<article id="<%= share.id %>" class="media default">
	<% if authenticated_user?(share) %>
		<%= link_to "×", share, 
			class: "close", 
			"rel"=>"tooltip",
			"data-placement"=>"left",
			"title"=>"Delete",
			method: :delete, remote: true %>
	<% end -%>
	
	<%= link_to (image_tag share.user.img_url, size: "40x40"), 
		share.user.profile_url, class: "pull-left" %>
	<div class="media-body">
		<div class="media-header">
			<%= link_to share.user.name, share.user.profile_url %>
		</div>
		
		<p class="muted"><%= time_tag share.date, format: "%B %e" %></p>
		
		<% unless share.content.blank? %>
				<p><%= share.content %></p>
		<% end %>
		
		<% unless share.url.blank? %>
			<p><a href="<%= share.url %>"><%= share.url %></a></p>
		<% end %>
	</div>
</article>

