<div class="row">	
	<div class="span7">
		<div class="pull-right fb-like visible-desktop" data-send="false" 
			data-layout="button_count" data-width="450" 	data-show-faces="true"></div>
		
		<p class="lead text-center">
			Share an event with us!
		</p>
		
		<p class="text-center">
			<% if current_user %>
				<% if @shares.count > 0 %>
					<button class="btn btn-primary btn-large hidden-phone" 
						data-target="#share-modal" data-toggle="modal">
						Share an event
					</button>

					<%= link_to "Share an event", new_share_path, 
						class: "btn btn-primary btn-large visible-phone" %>
					
					<%= render 'modal' %>
				<% else %>
					<%= render 'form' %>
				<% end -%>
			<% else %>
				<a rel="tooltip" data-placement="bottom" title="Sign in to share" 
					class="btn btn-primary btn-large visible-phone disabled">Share an event</a>
				<a rel="tooltip" data-placement="bottom" title="Sign in to share" 
					class="btn btn-primary btn-large hidden-phone disabled">Share an event</a>
			<% end -%>
		</p>
		
		<% if @shares.count > 0 %>
			<h4>Shares (<span id="shares-count"><%= @shares.count %></span>)</h4>
			<div id="shares">
				<% if @shares.count > 0 %>
					<%= render @shares %>
				<% end %>
			</div>
			
			<% if @shares.count > 10 %>
				<%= link_to "More", 
					"#{shares_path}?skip=10", 
					"data-loading-text"=>"Loading",
					class: "more",
					id: "more", 
					remote: true %>
			<% end %>	
		<% end %>	
	</div>
	
	<aside class="span5 hidden-phone suggestions-sidebar aside suggestions-aside">
		<% if @upcoming.count > 0 %>
			<p class="lead muted">Upcoming events</p>
			<ul class="thumbnails">
				<% if @upcoming.count > 0 %>
					<% @upcoming.each do |event| %>
						<li><%= render 'parties/sidebar_party', object: [event, "x"] %></li>
					<% end -%>
				<% end %>
			</ul>
			
			<% if @upcoming.count > 3 %>
				<%= link_to "More", root_path %>
			<% end -%>

			<hr>
		<% end -%>

		<% if @previous.count > 0 %>
			<p class="lead muted">Past events</p>
			<ul class="thumbnails">
				<% @previous.each do |event| %>
					<li><%= render 'parties/sidebar_party', object: [event, "x"] %></li>
				<% end -%>
			</ul>

			<% if @previous.count > 3 %>
				<%= link_to "More", root_path %>
			<% end -%>

			<hr>
		<% end -%>
		
		<% if @suggestions.count > 0 %>
			<p class="lead muted">Popular suggestions</p>
			<%= render @suggestions %>
			<%= link_to "More", suggestions_path %>
			
			<hr>
		<% end -%>
	</aside>
	
</div>

