<% if @replace %>
	// $('#hidden_link').attr("href", "#")
	$('#suggestions').html("<%= escape_javascript(render @suggestions) %>")
<% else %>
	$('#suggestions').append("<%= escape_javascript(render @suggestions) %>")
<% end %>

<% if @sort %>
	var URI = "/suggestions?sort=<%= @sort %>&skip=<%= @skip %>"
	$("#sort-loading-msg").hide()
<% else %>
	var URI = "/suggestions?skip=<%= @skip %>"
<% end %>

<% if @done %>
	$("#more-btn").remove()
<% else %>
	if ($("#more-btn").show().length == 0) {
		var more = $("<a id='more-btn' class='more' data-loading-text='Loading' data-remote='true'>More</a>")
		$("#more_link").append(more)
	}	
	$("#more-btn").attr("href", URI)
<% end %>

$("#more-btn").button('reset')
fix_collapse_links("<%= @suggestions.first.id %>")
fix_forms()
fix_suggestion_comment_loading_effect()
$("#suggestions").css("opacity", "1")

